h5{
    display: inline-block;
}
.bg{
    background-color:aliceblue;
}
.h:hover{
    border: 2px solid green;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) .5s ease-in-out;

}
.h>img:hover{
    transform: scale(1.01);
    
}
.h>a{
    text-decoration: none;
    color: black;
}

.a:hover{
    color: forestgreen!important;
}