nav>a {
   text-decoration: none;
}

.border{
    border: .1px solid lightgray!important;
}

#link-style:hover {
    color: orange!important;
    transition: all .3s linear;
    
}
.src{
    width: 200px;
}
i{
    height: 20px;
    width: 30px;
}
.nav3{
    background-color: forestgreen;
}