nav>a {
   text-decoration: none;
}
#link-style{
   
    color: black !important;
}
.border{
    border: .2px solid lightgray!important;
}

#link-style:hover {
    color: forestgreen!important;
    transition: all .3s linear;
    
}
.src{
    width: 200px;
}
i{
    height: 20px;
    width: 30px;
}
.nav3{
    background-color: forestgreen;
}