
#li:hover{
 color: goldenrod!important;
 background-color: lavenderblush;
 border-left: 2px solid goldenrod;
 
}
.a{
    color: black;
}
.a:hover{
    color: goldenrod !important;;
}
.hb:hover{
    color: lavender;
    
}